@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 250 250 250;
  --background: 9 9 11;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: rgb(39 39 42);
}

::-webkit-scrollbar-thumb {
  background: rgb(63 63 70);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(82 82 91);
}
